<form class="fund-form">
  <div class="form-group">
    <label>Currency Amounts:</label>
    <div class="currency-inputs">
      <div class="input-group">
        <input type="number" name="platinum" value="0" min="0" />
        <label class="platinum">Platinum</label>
      </div>
      <div class="input-group">
        <input type="number" name="gold" value="0" min="0" />
        <label class="gold">Gold</label>
      </div>
      <div class="input-group">
        <input type="number" name="silver" value="0" min="0" />
        <label class="silver">Silver</label>
      </div>
      <div class="input-group">
        <input type="number" name="copper" value="0" min="0" />
        <label class="copper">Copper</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <input
      type="text"
      name="description"
      placeholder="What is this transaction for?"
    />
  </div>
</form>
