<div class="fund-history-container">
    <table class="fund-history-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each history}}
        <tr class="{{#if this.subtract}}subtract{{else}}add{{/if}}">
          <td>{{this.date}}</td>
          <td>{{this.description}}</td>
          <td class="currency-cell">
            {{#if this.platinum}}<span class="platinum">{{this.platinum}}P</span>{{/if}}
            {{#if this.gold}}<span class="gold">{{this.gold}}G</span>{{/if}}
            {{#if this.silver}}<span class="silver">{{this.silver}}S</span>{{/if}}
            {{#if this.copper}}<span class="copper">{{this.copper}}C</span>{{/if}}
          </td>
          <td>
            <button type="button" class="delete-fund-btn" data-id="{{this.id}}">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    
    <div class="pagination">
      <button type="button" class="page-prev" {{#if (eq pagination.page 1)}}disabled{{/if}}>
        <i class="fas fa-chevron-left"></i> Previous
      </button>
      <span class="page-info">Page {{pagination.page}} of {{pagination.pages}} ({{pagination.totalEntries}} total)</span>
      <button type="button" class="page-next" {{#if (eq pagination.page pagination.pages)}}disabled{{/if}}>
        Next <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>