<div class="item-details-container">
  <div class="item-header" style="border-bottom: 2px solid {{rarityColor}}">
    <i
      class="fas {{item.iconClass}} item-icon"
      style="color: {{rarityColor}}"
    ></i>
    <h2>{{item.name}}</h2>
    {{#if item.rarity}}
    <span class="item-rarity" style="color: {{rarityColor}}"
      >{{item.rarity}}</span
    >
    {{/if}}
  </div>

  <div class="item-info">
    <div class="info-row">
      <div class="info-label">Owner:</div>
      <div class="info-value">{{item.owner}}</div>
    </div>

    <div class="info-row">
      <div class="info-label">Quantity:</div>
      <div class="info-value">{{item.quantity}}</div>
    </div>

    <div class="info-row">
      <div class="info-label">Source:</div>
      <div class="info-value">{{item.source}}</div>
    </div>

    {{#if item.valueType}}
    <div class="info-row">
      <div class="info-label">Value:</div>
      <div class="info-value">{{item.value}} {{item.valueType}}</div>
    </div>
    {{/if}} {{#if item.itemType}}
    <div class="info-row">
      <div class="info-label">Type:</div>
      <div class="info-value">{{item.itemType}}</div>
    </div>
    {{/if}} {{#if item.tags}}
    <div class="info-row">
      <div class="info-label">Tags:</div>
      <div class="info-value tags">
        {{#each (split item.tags ',')}}
        <span class="tag">{{this}}</span>
        {{/each}}
      </div>
    </div>
    {{/if}} {{#if item.description}}
    <div class="info-row description">
      <div class="info-label">Description:</div>
      <div class="info-value description-text">{{item.description}}</div>
    </div>
    {{/if}}

    <div class="info-row">
      <div class="info-label">Added:</div>
      <div class="info-value">{{item.dateAdded}}</div>
    </div>
  </div>
</div>
